#logo {
	width: 70%;
}

.img-cont, .cliente, .articulo {
	width: 100%;
}
.fn-cliente {
	background-image: url(../images/client-bg.jpg);
	background-repeat: no-repeat;
}
.posicion {
	display: inline-block;
}